.t-wrapper .container{
    padding-top: 13rem;
}
.t-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.t-head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 50rem;
}